body {
	margin: 0px;
	padding: 0px;
}

/*Header*/

header {
	display: flex;
	justify-content: space-between;
}
h1 img {
	width: 100px;
	margin-left: 50px;
	margin-top: 20px;
}

/*Navigation*/

nav ul {
	display: flex;
	margin-right: 50px;
	list-style-type: none;
	margin: 0;
}
nav ul li {
	padding-top: 50px;
}
nav ul li a {
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}
.hebergement {
	color: #0065fc;
}
.activité {
	color: rgb(61, 61, 61);
}
.inscrire {
	font-weight: bold;
	color: #0065fc;
}

/*Titre principal*/

.titre {
	padding-left: 50px;
}

/*Barre de recherche*/

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background-color: #f2f2f2;
	border-radius: 10px 0 0 10px;
}
form {
	display: flex;
	padding-left: 30px;
	margin: 20px;
}
.fa-map-marker-alt {
	font-size: 20px;
}
input.marseille {
	padding-left: 15px;
	font-weight: bold;
	font-size: 18px;
	border: 0px;
}
.search {
	background-color: #0065fc;
	color: white;
	font-weight: bold;
	border-radius: 0 10px 10px 0;
	border: 0px;
}

/*Filtres*/

#filtres-section {
	display: flex;
	align-items: center;
	margin: 32px 0px 41px 0px;
}

.filtre-bouton {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-left: 30px;
	flex-wrap: wrap;
}

.circle-icon-filter {
	width: 50px;
	height: 50px;
	background-color: #deebff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 18px;
	left: 1px;
}

.filtre {
	display: flex;
	flex-wrap: wrap;
}
.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
	color: #0065fc;
	font-size: 1.5em;
}
.filtre p {
	height: 50px;
	display: flex;
	border: 2px solid #d9d9d9;
	padding: 0px 25px 0px 65px;
	align-items: center;
	border-radius: 25px;
	font-weight: bold;
}
/*information*/

.titre_filtres p {
	font-weight: bold;
	margin-left: 50px;
}
.information {
	margin: 0px 0px 35px 17px;
}
.fas.fa-info-circle {
	color: #0065fc;
	margin-left: 50px;
}
/*hebergement à Marseille*/
#hebergement {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 56px;
}

#hebergements_a_marseille {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	border-radius: 20px;
	padding: 44px 36px 44px 36px;
	max-width: 805px;
	margin-left: 50px;
}
.titre_hebergements_a_marseille {
	margin: 0px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 21px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-bottom: 60px;
}

.hebergement_carte {
	border: 3px solid white;
	border-radius: 20px;
	padding: 5px 5px 10px 5px;
	background-color: white;
	max-width: 236px;
	margin-bottom: 28px;
}

.photo_hebergement {
	width: 236px;
	object-fit: cover;
	height: 112px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.hebergement_contenu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 16px;
}

.titre_contenu {
	padding-top: 11px;
	padding-bottom: 11px;
	padding: 0px;
}
h3 {
	margin: 0px;
	color: black;
	font-weight: bold;
}
.prix_nuit {
	margin: 0px;
	color: black;
}
.hebergement_notation {
	padding-bottom: 11px;
	padding: 0px;
}
.hebregement_liens {
	text-decoration: none;
}
.fas.fa-star {
	color: #0065fc;
	font-size: 13px;
}
.fas.fa-star.grey-star {
	color: grey;
}
.hebergement_montrer_plus {
	font-weight: bold;
}
/*Les plus populaires*/

#hebergements_populaires {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	padding: 45px 38px 31px 45px;
	max-width: 345px;
	margin-right: 50px;
}
.titre_les_plus_populaires {
	margin: 0px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 21px;
}
.fa-chart-line {
	color: black;
	padding-left: 150px;
}

.hebergement_les_plus_populaires {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.populaire_carte {
	border: 3px solid white;
	border-radius: 20px;
	display: flex;
	background-color: white;
	padding: 6px 58px 6px 6px;
	max-width: 284px;
	max-height: 135px;
	margin-bottom: 29px;
}

.photo_populaire {
	object-fit: cover;
	width: 132px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.populaire_contenu {
	padding: 7px 0px 7px 20px;
	display: flex;
	flex-direction: column;
}

.titre_populaire_contenu {
	padding-bottom: 14px;
}

.hebergement_notation_populaire {
	max-width: 94px;
	max-height: 15px;
}
/* Activities */
.activités {
	margin: 50px;
}
.activites_form {
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(4, 1fr);
	gap: 37.5px;
	height: 450px;
	grid-auto-flow: column;
}
a {
	text-decoration: none;
	color: inherit;
}
.row2 {
	grid-row-end: span 13;
}

.row6 {
	grid-row-end: span 7;
}

.row5 {
	grid-row-end: span 6;
}

.contenue_activité {
	display: grid;
	grid-template-rows: 1fr 50px;
	height: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 7px #c1c1c1;
}

.contenue_activité img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.description_activités {
	align-self: center;
	background-color: #fff;
	padding-left: 10px;
	font-size: 1.1rem;
	font-weight: bold;
}
