body {
	max-width: 1440px;
	margin: auto;
	padding: 0px;
	font-family: "Raleway";
}

/*Header*/

a :hover {
	color: #0065fc;
}

header {
	display: flex;
	justify-content: space-between;
}

h1 img {
	width: 100px;
	margin-left: 50px;
	margin-top: 20px;
}

/*Navigation*/

nav ul {
	display: flex;
	margin-right: 50px;
	list-style-type: none;
	margin: 0;
}

nav ul li {
	padding-top: 50px;
}

nav ul li a {
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}

.hebergement {
	color: #0065fc;
}

.activité {
	color: rgb(61, 61, 61);
}

.inscrire {
	font-weight: bold;
	color: #0065fc;
}

/* reponsive header*/

@media screen and (max-width: 765px) {
	header {
		flex-direction: column;
	}
	h1 img {
		left: 10px;
		margin-left: 40px;
	}
	.inscrire {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.hebergement {
		padding-bottom: 10px;
		border-bottom: 3px solid #0065fc;
	}
	ul {
		padding-left: 0;
	}
	.hebergements-activites {
		width: 50%;
		padding-top: 0px;
		text-align: center;
	}
}

/*Titre principal*/

.titre-principale {
	padding-left: 50px;
}

.sous-titre {
	padding-left: 50px;
}

@media screen and (max-width: 765px) {
	.titre-principale {
		text-align: center;
		width: 80%;
		padding-top: 10px;
	}
	.sous-titre {
		text-align: center;
		width: 80%;
	}
}

/*barre de recherche*/

.gps-logo {
	position: relative;
	height: 40px;
	background-color: #f2f2f2;
	width: 54px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.search-bar {
	display: flex;
	justify-content: flex-start;
}

.fa-map-marker-alt {
	position: absolute;
	color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.type-search {
	padding-left: 15px;
	font-weight: 700;
	font-size: 18px;
	border: 0px;
	color: black;
}

#search-section {
	display: flex;
	height: 40px;
	margin-top: 15px;
	padding-left: 50px;
	padding-top: 15px;
}

.rechercher {
	background-color: #0065fc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 30%;
	height: 40px;
	border: none;
	color: white;
	outline: none;
	font-weight: bold;
}

.rechercher_loupe {
	display: none;
}

@media all and (max-width: 765px) {
	.rechercher {
		display: none;
	}
	.type-search {
		width: 200px;
	}
	.rechercher_loupe {
		display: block;
		width: 40px;
		background-color: #0065fc;
		color: white;
		font-weight: bold;
		border: none;
		border-radius: 1rem 1rem 1rem 1rem;
	}
	.rechercher_loupe .fas {
		color: white;
	}
	#search-section {
		display: flex;
		justify-content: center;
		padding-left: 0px;
	}
}

/*Filtres*/

#filtres-section {
	display: flex;
	align-items: center;
	margin: 32px 0px 41px 0px;
}

.filtre-bouton {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-left: 50px;
	flex-wrap: wrap;
}

.filtre-bouton:hover {
	color: #0065fc;
}

.circle-icon-filter {
	width: 50px;
	height: 50px;
	background-color: #deebff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 18px;
	left: 1px;
}

.filtre {
	display: flex;
	flex-wrap: wrap;
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
	color: #0065fc;
	font-size: 1.5em;
}

.filtre p {
	height: 50px;
	display: flex;
	border: 2px solid #d9d9d9;
	padding: 0px 25px 0px 65px;
	align-items: center;
	border-radius: 25px;
	font-weight: bold;
}

@media all and (max-width: 765px) {
	.titre_filtres p {
		font-weight: bold;
		margin-left: 0px;
	}
	.filtre-bouton {
		margin-bottom: 5px;
	}
	#filtres-section {
		display: flex;
		flex-direction: column;
	}
	.titre_filtres {
		align-self: flex-start;
		margin: 0px 0px 20px 30px;
	}
	.fas.fa-info-circle {
		color: #0065fc;
		margin-left: 0px;
		padding-left: 0px;
	}
	.information {
		margin: 0px;
		padding-left: 0px;
	}
}

/*information*/

.titre_filtres p {
	font-weight: bold;
	margin-left: 50px;
}

.information {
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 10px;
}

.fas.fa-info-circle {
	color: #0065fc;
	margin-left: 50px;
}

/*hebergement à Marseille*/

#hebergement {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 56px;
}

#hebergements_a_marseille {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	border-radius: 20px;
	padding: 44px 36px 44px 36px;
	max-width: 805px;
	margin-left: 50px;
	width: calc(100% - 600px);
}

.titre_hebergements_a_marseille {
	margin: 0px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 21px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-bottom: 60px;
}

.hebergement_carte {
	border: 3px solid white;
	border-radius: 20px;
	padding: 5px 5px 10px 5px;
	background-color: white;
	max-width: 236px;
	margin-bottom: 28px;
}

.photo_hebergement {
	width: 236px;
	object-fit: cover;
	height: 112px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.hebergement_contenu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 16px;
}

.titre_contenu {
	padding-top: 11px;
	padding-bottom: 11px;
	padding: 0px;
}

h3 {
	margin: 0px;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.prix_nuit {
	margin: 0px;
	color: black;
}

.hebergement_notation {
	padding-bottom: 11px;
	padding: 0px;
}

.hebregement_liens {
	text-decoration: none;
}

.fas.fa-star {
	color: #0065fc;
	font-size: 13px;
}

.fas.fa-star.grey-star {
	color: grey;
}

.hebergement_montrer_plus {
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	#hebergement {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
	#hebergements_a_marseille {
		background-color: #f2f2f2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 20px;
		width: 680px;
		margin: 10px;
		margin-right: 10px;
	}
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-between;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 765px) {
	#hebergement {
		display: flex;
		flex-direction: column-reverse;
		margin-left: 0px;
	}
	#hebergements_a_marseille {
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
		border-radius: 0px;
		width: 375px;
		margin-left: 0px;
		margin-bottom: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.container {
		width: auto;
		margin: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
	}
	.hebergement_carte {
		border: 3px solid white;
		border-radius: 20px;
		padding: 5px 5px 10px 5px;
		background-color: white;
		max-width: 334px;
		margin-bottom: 28px;
	}
	.photo_hebergement {
		width: 326px;
		object-fit: cover;
		height: 114px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.hebergement_montrer_plus {
		font-weight: bold;
		margin-top: 0px;
	}
}

/*Les plus populaires*/

#hebergements_populaires {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	padding: 45px 38px 31px 45px;
	max-width: 345px;
	margin-right: 50px;
}

.titre_les_plus_populaires {
	margin: 0px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 21px;
}

.fa-chart-line {
	color: black;
	padding-left: 150px;
}

.hebergement_les_plus_populaires {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.populaire_carte {
	border: 3px solid white;
	border-radius: 20px;
	display: flex;
	background-color: white;
	padding: 6px 58px 6px 6px;
	max-width: 284px;
	max-height: 135px;
	margin-bottom: 29px;
}

.photo_populaire {
	object-fit: cover;
	width: 132px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.populaire_contenu {
	padding: 7px 0px 7px 20px;
	display: flex;
	flex-direction: column;
}

.titre_populaire_contenu {
	padding-bottom: 14px;
}

.hebergement_notation_populaire {
	max-width: 94px;
	max-height: 15px;
}

@media screen and (max-width: 768px) {
	#hebergements_populaires {
		height: auto;
		display: flex;
		flex-direction: column;
		border-radius: 20px 20px 20px 20px;
		background-color: #f2f2f2;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 765px) {
	#hebergements_populaires {
		display: flex;
		background-color: #f2f2f2;
		border-radius: 0px;
		justify-content: center;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.populaire_carte {
		border: 3px solid white;
		border-radius: 20px;
		display: flex;
		background-color: white;
		padding: 6px 58px 6px 6px;
		width: 334px;
		max-height: 135px;
		margin-bottom: 29px;
	}
}

/* Activities */

.activités {
	margin: 50px;
}

.activites_form {
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(4, 1fr);
	gap: 37.5px;
	height: 450px;
	grid-auto-flow: column;
}

a {
	text-decoration: none;
	color: inherit;
}

.row2 {
	grid-row-end: span 13;
}

.row6 {
	grid-row-end: span 7;
}

.row5 {
	grid-row-end: span 6;
}

.contenue_activité {
	height: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	box-shadow: 0 0 7px #c1c1c1;
}

.contenue_activité img {
	width: 100%;
	object-fit: cover;
	height: calc(100% - 50px);
}

.description_activités {
	align-self: center;
	background-color: #fff;
	padding-left: 10px;
	font-size: 1.1rem;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.activités {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0px;
		margin-bottom: 20px;
	}
	.activites_form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 768px;
		height: 663px;
		align-items: center;
	}
	.row2 {
		width: 334px;
	}
	.row5 {
		width: 334px;
	}
	.row6 {
		width: 334px;
	}
	.contenue_activité {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 334px;
		height: 180px;
		justify-content: space-between;
		align-content: space-between;
	}
	.contenue_activité img {
		width: 334px;
		height: 134px;
		object-fit: cover;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 765px) {
	.activités {
		margin-top: 0px;
		margin-bottom: 62px;
		display: block;
	}
	.activities h2 {
		padding-left: 20px;
		margin: 0px;
	}
	.activites_form {
		display: flex;
		width: 375px;
		height: auto;
		flex-direction: column;
		border-radius: 10px;
	}
	.contenue_activité {
		margin: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
	}
	.contenue_activité img {
		width: 334px;
		height: 134px;
		object-fit: cover;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.description_activités {
		padding-top: 10px;
	}
}

/* Footer */

footer {
	background-color: #f2f2f2;
	bottom: 0;
	border-top: 0;
	position: inherit;
	justify-content: space-around;
	display: flex;
}

.liste a:hover {
	color: #0065fc;
}

@media screen and (max-width: 768px) {
	footer {
		flex-flow: row wrap;
	}
}

.bloc-footer {
	padding: 20px;
	width: 100%;
	padding-left: 10%;
}

li {
	list-style: none;
	color: black;
}

ul.liste {
	color: #464646;
	padding: 0;
	line-height: 2rem;
}

#footer .bloc-footer .liste {
	flex-shrink: 1;
	list-style: none;
}
